@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 10rem;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  padding: 1.5rem 0;
  background-color: $gray;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

input {
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  color: $dark-text;
}

.section-heading {
  margin-bottom: 1.5rem;
  font-size: min(7vw, 2.5rem);
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

p {
  line-height: 142%;
}

.section-margin {
  margin: 1.5rem 0;
}

@media (min-width: 768px) {
  .section-heading {
    margin-bottom: 2rem;
  }
}
